%script var gollum_root = "#{resource.wiki_url(packet)}";
#main
  .site
    #guides
      .write
        %a{:href => resource.wiki_url(packet)} « Home
        %h1= title
        %form.new_wiki{:method => "post"}
          %div
            %label
              Filename
              %br
              %input.text{:type=>"text", :name=>"page", :value=>name}
            #wiki-form.comment-form.wiki-form
              %ul.tabs.inline-tabs
                %li
                  %a{:href=>"#write_bucket", :action=>"write"} Write
                %li
                  %a{:href=>"#preview_bucket", :action=>"preview"} Preview
              #write_bucket.tab-content
                = resource.do_view(packet,:editbar)
                .inner
                  %textarea{:name=>"content"} &nbsp;
              #preview_bucket.tab-content.content-body.content.wikistyle.gollum
                %p Loading content...
            %label
              Edit Summary 
              %small (Briefly describe the changes you have made)
              %br
              %input.text{:type=>"text", :class=>"text",:name=>"message",:value=>"Create '#{name}' page."}
            .actions
              %input{:type=>"submit", :value=>"Create page"}