- part[:page_title] = (page.title || title) + " [wiki]"
%script var gollum_root = "#{resource.wiki_url(packet)}";
%article.gollum-wiki
  %header
    .actions
      %a{:href => resource.wiki_url(packet) } Home
      |
      %a{:href => resource.wiki_url(packet) + 'edit/' + name } Edit
      |
      %a{:href => resource.wiki_url(packet) + 'history/' + name } History
    %h1= (page.title || title)
  %section~ markdown(content)